.generic_section{
	min-height: 500px;
	padding: 0 30px;
	
	&.vertical_center{
		display: flex;
		align-items: center;
	}

	&.dark_background{
		background-color: $black;
		.title,
		.text{
			color: $white;
		}
	}
}