.generic_section{
	padding: 0 30px;

	&.head_title_section,
	&.text_section{
		padding-top: 20%;
    	padding-bottom: 20%;
	}

	&.head_title_section{
		background-color: $dark_red;
	}
	
	&.vertical_center{
		display: flex;
		align-items: center;
	}

	&.center_content{
		text-align: center;
	}
}

.circle_wrapper{
	border-radius: 50%;
	overflow: hidden;
	width: 60%;
    margin: 0 auto 40px auto;
	img{
		display: block;
		width: 100%;
	}
}

.content_wrapper{
	padding: 0 15px;
}

@include media(sm){
	.circle_wrapper{
		width: 80%;
	}
}

@include media(md){
	.circle_wrapper{
		width: 70%;
	}

	.content_wrapper{
		padding: 0 50px;
	}

	.generic_section{
		&.head_title_section,
		&.text_section{
			padding-top: 10%;
	    	padding-bottom: 10%;
		}
	}
}