.generic_section{
	min-height: 500px;
	padding: 0 30px;
	
	&.vertical_center{
		display: flex;
		align-items: center;
	}
}

.circle_wrapper{
	border-radius: 50%;
	overflow: hidden;
	width: 60%;
    margin: 0 auto 40px auto;
	img{
		display: block;
		width: 100%;
	}
}

.content_wrapper{
	padding: 0 15px;
}

@include media(sm){
	.circle_wrapper{
		width: 80%;
	}
}

@include media(md){
	.circle_wrapper{
		width: 70%;
	}

	.content_wrapper{
		padding: 0 50px;
	}
}