.social_icon{
	font-size: rem(22);
	color: $white;
	text-decoration: none;
	display: inline-block;
	margin: 0 15px 0 10px;
	&:hover{
		text-decoration: none;
		color: $gray;
	}
	&:focus{
		text-decoration: none;
		color: $gray;
	}
}
.phone, .email{
	font-size: rem(16);
	top: -3px;
    position: relative;
}
.mail_phone_section{
	margin-top: 20px;
}