.text_section{
  color: $warm_gray;
  font-size: rem(24);
  text-align: center;
  margin: auto;

  &.quote{
	font-style: italic;
  }
}

@include media(sm){
	.text_section{
		width: 80%;
	}
}

@include media(md){
.text_section{
		width: 60%;
	}
}