section.info_section.generic_section.image_w_text.vertical_center.row
	.col-xs-12.col-md-9.col-md-offset-1
		.row
			.col-xs-12.col-sm-4
				.circle_wrapper
					img(src="../images/our/bryan.jpg")
			.col-xs-12.col-sm-8
				h2.title Bryan Ram&iacute;rez - Bajo
				p.text Creci&oacute; rodeado de m&uacute;sica ya que sus padres desde j&oacute;venes son m&uacute;sicos en la Iglesia en la c&uacute;al se congregan. &Eacute;l empez&oacute; aprendiendo a tocar guitarra cuando ten&iacute;a 14 años. Su encuentro con el bajo se di&oacute; cuando estaba en 9#[sup no] a&ntilde;o del colegio, esto ocurri&oacute; porque no hab&iacute;a bajista y el profesor F&eacute;lix Bastos, lo convenci&oacute; de que este es parecido a la guitarra, desde ah&iacute; se enamor&oacute; del instrumento. 
				p.text Luego el profesor Franklin Salas fue puliendo su t&eacute;cnica. Desde ese momento hasta el final del colegio particip&oacute; en diferentes agrupaciones y en la Iglesia B&iacute;blica Emmanuel en Tilar&aacute;n; en este lugar, comenz&oacute; a sus 15 a&ntilde;os a servir y actualemnte a&uacute;n ayuda participando de la m&uacute;sica; de igual manera ha tenido la oportunidad de ayudar a otras congregaciones.
				p.text En el año 2016 fue invitado a participar del Ministerio Contra V&iacute;a del c&uacute;al es miembro actuamente.