section.info_section.generic_section.image_w_text.vertical_center.row
	.col-xs-12.col-md-9.col-md-offset-1
		.row
			.col-xs-12.col-sm-4
				.circle_wrapper
					img(src="../images/our/erick.jpg")
			.col-xs-12.col-sm-8
				h2.title Erick Cantillo - Guitarra
				p.text Es uno de los guitarristas de la banda, originario de San Juan de Tib&aacute;s, San Jos&eacute;, Costa Rica. Aprendi&oacute; a tocar guitarra ac&uacute;stica a los 17 años, a esta edad se une a la rondalla del liceo Mauro Fern&aacute;ndez Acu&ntilde;a ubicado en Tib&aacute;s, guiado por su sue&ntilde;o de servir a Dios a trav&eacute;s de la m&uacute;sica, ingresa al ministerio de la m&uacute;sica de la Iglesia del Nazareno en Tib&aacute;s.
				p.text Junto con varios amigos de esa congregaci&oacute;n inician un grupo dando apoyo a diferentes festivales de talentos. El ministerio Prueba de Vida le solicita se integre y sea parte como guitarrista apoyando presentaciones en varios lugares, c&oacute;mo la conferencia de la regi&oacute;n Mesoam&eacute;rica de la Iglesia del Nazareno y tambi&eacute;n la gira del cantante puertorrique&ntilde;o Elmer Santos.