section.generic_section.dark_background.info_section
	h2.title Visi&oacute;n
	p.text Ser una Banda de Rock Cristiana, sin fines de lucro, dedicada a llevar el mensaje de un Dios de amor a todas las personas; claro, a trav&eacute;s de la m&uacute;sica.
	h2.title Misi&oacute;n
	p.text Gracias a la ayuda de Dios, de nuestro esfuerzo, de el apoyo de nuestras familias y del grano de arena de varios amigos hechos en el camino de nuestras vidas, lograremos ganar muchas personas para Jes&uacute;s, nuestro maestro y gu&iacute;a.