section.generic_section.info_section.image_w_text.vertical_center.row
	.col-xs-12.col-md-8.col-md-offset-2
		.row
			.col-xs-12.col-sm-4
				.circle_wrapper
					img(src="../images/our/erick.jpg")
			.col-xs-12.col-sm-8
				h2.title Erick Cantillo - Guitarra
				p.text Es uno de los guitarristas de la banda, originario de San Juan de Tibás, San José, Costa Rica. Aprende a tocar guitarra acústica a los 17 años a esta edad forma parte de la rondalla del liceo Mauro Fernandez Acuña que se encuentra en Tibás, guiado por su sueño de servir a Dios a traves de la música, ingresa al ministerio de la música de la Iglesia del Nazareno en Tibás.
				p.text Junto con varios amigos de esa congregación forman un grupo y apoyan diferentes festivales de talentos. El ministerio Prueba de Vida le solicita se integre y sea parte de él como guitarrista apoyando tanto presentaciones en varios lugares, la conferencia de la región Mesoamérica de la Iglesia del Nazareno y también la gira del cantante puertorriqueño Elmer Santos.