section.info_section.generic_section.image_w_text.vertical_center.row
	.col-xs-12.col-md-9.col-md-offset-1
		.row
			.col-xs-12.col-sm-4
				.circle_wrapper
					img(src="../images/our/joseAntonio.jpg")
			.col-xs-12.col-sm-8
				h2.title Jos&eacute; Antonio Bola&ntilde;os - Guitarra y Voz principal
				p.text Originario de San Juan, Tib&aacute;s, Costa Rica a sus 16 años aprendi&oacute; a tocar guitarra en la Iglesia Familia de Dios donde a&uacute;n actualmente se congrega, creando junto con otros j&oacute;venes el primer grupo de alabanza en la congregaci&oacute;n, dada la necesidad en la iglesia, tambi&eacute;n empez&oacute; a cantar sin tener estudio ni conocimiento previo.
				p.text Durante todo el tiempo que estuvo en la iglesia hubo varios intentos de formar una banda, pero fue hasta el a&ntilde;o 2010 que junto con algunos amigos formaron "The Narrow Gate" con m&uacute;sica propia, pero nunca realizaron presentaciones oficiales. 
				p.text Luego en el a&ntilde;o 2013 estuvo en la Iglesia Pasi&oacute;n por las almas sirviendo por unos 6 meses en el ministerio de la alabanza. Tambi&eacute;n en el año 2014 estuvo ayudando al salmista costarricense Jonathan Tencio con su proyecto tocando la guitarra el&eacute;ctrica y ayud&aacute;ndole como segunda voz. Adem&aacute;s curs&oacute; clases de Gospel en el ministerio Itran durante aproximadamente 6 meses en el año 2014. 
				p.text Actualmente sigue en la Iglesia Familia de Dios como el l&iacute;der del ministerio de alabanza, y desde luego apoyando al ministerio Contra Vía.