section.generic_section.info_section.image_w_text.vertical_center.row
	.col-xs-12.col-md-8.col-md-offset-2
		.row
			.col-xs-12.col-sm-4
				.circle_wrapper
					img(src="../images/our/antonio.jpg")
			.col-xs-12.col-sm-8
				h2.title Antonio Perez - Teclados
				p.text Originario de Cañas Guanacaste, aprendió a tocar guitarra a una edad de 14 años, luego se interesó por el piano a esa misma edad. En la Iglesia Asambleas de Dios en cañas, empezó con un grupo llamado "La Nueva Semilla". Luego es invitado a ser parte del ministerio Contra Vía; actualmente participa en el.