section.info_section.generic_section.image_w_text.vertical_center.row
	.col-xs-12.col-md-9.col-md-offset-1
		.row
			.col-xs-12.col-sm-4
				.circle_wrapper
					img(src="../images/our/antonio.jpg")
			.col-xs-12.col-sm-8
				h2.title Antonio P&eacute;rez - Teclados
				p.text Originario de Ca&ntilde;as Guanacaste, aprendi&oacute; a tocar la guitarra a una edad de los 14 a&ntilde;os, luego m&aacute;s tarde se interes&oacute; por el piano. En la Iglesia Asambleas de Dios en ca&ntilde;as, empez&oacute; con un grupo llamado "La Nueva Semilla". Luego de unos a&ntilde;os es invitado a ser parte del ministerio Contra V&iacute;a; del c&uacute;al actualmente participa.