section.info_section.generic_section.image_w_text.vertical_center.row
	.col-xs-12.col-md-9.col-md-offset-1
		.row
			.col-xs-12.col-sm-4
				.circle_wrapper
					img(src="../images/our/joseAntonio.jpg")
			.col-xs-12.col-sm-8
				h2.title José Antonio Bolaños - Guitarra y Voz principal
				p.text Originario de San Juan, Tibás Costa Rica. Él a sus 16 años aprendióa tocar guitarra en la Iglesia Familia de Dios donde se congrega actualmente, siendo junto con otros jóvenes, el primer grupo de alabanza en la congregación, dada la necesidad en la iglesia, también empezó  cantar sin estudios ni conocimiento.
				p.text Durante todo el tiempo que estuvo en la iglesia hubo varios intentos de formar una banda, pero fue hasta el año 2010 que junto con algunos amigos formaron "The Narrow Gate" con música propia, pero no realizaron presentaciones oficiales. Luego en el año 2013 stuvo en la Iglesia Pasión por las almas sirviendo por unos 6 meses en el ministerio de la alabanza. En el año 2014 estuvo ayudando al salmista costarricense Jonathan Tencio con su proyecto, tocando la guitarra eléctrica y ayudándole como segunda voz. Cursó clases de Gospel en el ministerio Itran durante alrededor de 6 meses en el año 2014. 
				p.text Actualmente sigue en la Iglesia Familia de Dios como el lider del ministerio de alabanza. Y apoyando el ministerio Contra Vía.