section.info_section.generic_section.image_w_text.vertical_center.row
	.col-xs-12.col-md-9.col-md-offset-1
		.row
			.col-xs-12.col-sm-4
				.circle_wrapper
					img(src="../images/our/alejandro.jpg")
			.col-xs-12.col-sm-8
				h2.title Alejandro Vega - Batería
				p.text Originario de Tilarán, Guanacaste, Costa Rica; donde creció y desde pequeño se interesó por la batería y poco a poco fue aprendiendo gracias a la ayuda de músicos que observaron el interes que él mostraba por el instrumento.
				p.text En la Iglesia Biblica Emmanuel, donde ya a sus trece años comenzó a ministrar en el ministerio musical de dicha congregación; terminado el colegio tuvo que trasladarse hacia Alajuela a estudiar en el Instituto Nacional de Aprendizaje donde conoció a Erick Cantillo con quien creó una buena amistad y por cuestiones laborales vive en Tibás donde se acentó y llegó a formar parte de la Banda Contra vía. 