section.info_section.generic_section.image_w_text.vertical_center.row
	.col-xs-12.col-md-9.col-md-offset-1
		.row
			.col-xs-12.col-sm-4
				.circle_wrapper
					img(src="../images/our/jairo.jpg")
			.col-xs-12.col-sm-8
				h2.title Jairo Valverde - Bajo
				p.text Originario de Cinco esquinas de Tib&aacute;s, nace en un hogar cristiano por lo cual el servicio al Señor siempre ha sido una de sus prioridades, hace m&aacute;s de 5 años se lig&oacute; a la m&uacute;sica sirviendo en el sonido de la Iglesia Alianza Cristiana y Misionera y por voluntad de Dios empez&oacute; a estudiar bajo hace año y medio en el Instituto de Adoradores en Colima de Tib&aacute;s siendo su primer formador Erick Cantillo uno de los guitarristas de la banda Contra V&iacute;a.
				p.text Hoy sigue estudiando ahora en el Instituto World Alive y fue tomado en cuenta para formar parte de esta Banda cosa que lo tom&oacute; por sorpresa y con gran gratitud, entiende que debe esforzarse mucho y crecer para darle primeramente al Señor la excelencia que solo &Eacute;l merece y devolver a la banda la confianza que depositaron en &eacute;l.
				p.text En Julio del año 2018 fue invitado a participar del Ministerio Contra V&iacute;a del c&uacute;al es miembro actuamente.