section.info_section.generic_section.image_w_text.vertical_center.row
	.col-xs-12.col-md-9.col-md-offset-1
		.row
			.col-xs-12.col-sm-4
				.circle_wrapper
					img(src="../images/our/bryan.jpg")
			.col-xs-12.col-sm-8
				h2.title Bryan Ramirez - Bajo
				p.text Bryan Ramírez creció rodeado de música ya que sus padres desde jovenes son músicos en la Iglesia donde se conocieron. Él empezó aprendiendo a tocar guitarra cuando tenía 14 años. Su encuentro con el bajo se dió cuando estaba en 9no año del colegio, esto ocurrió porque no había bajista y un profesor Félix Bastos, le dijo que era parecido a la guitarra, desde ahí se enamoró del instrumento. 
				p.text Luego el profesor Franklin Salas fue puliendo su técnica. Desde ese momento hasta el final del colegio participó en diferentes agrupaciones y en la Iglesia Biblica Emmanuel en Tilarán; en este lugar, comenzó a sus 15 años a servir y aún ayuda participando de la música; ha tenido la oportunidad de ayudar otras congregaciones y en el año 2016 fue invitado a participar del Ministerio Contra Vía en el cual es miembro actuamente.