section.info_section.generic_section.image_w_text.vertical_center.row
	.col-xs-12.col-md-9.col-md-offset-1
		.row
			.col-xs-12.col-sm-4
				.circle_wrapper
					img(src="../images/our/alejandro.jpg")
			.col-xs-12.col-sm-8
				h2.title Alejandro Vega - Bater&iacute;a
				p.text Originario de Tilar&aacute;n, Guanacaste, Costa Rica; donde creci&oacute; y desarroll&oacute; desde peque&ntilde;o el inter&eacute;s por la bater&iacute;a, poco a poco fue aprendiendo a tocar la bater&iacute;a con gran destreza gracias a la ayuda de m&uacute;sicos que observaron el inter&eacute;s que él mostraba por el instrumento.
				p.text En la Iglesia B&iacute;blica Emmanuel fue donde se inició como baterista, donde ya a sus trece a&ntilde;os comenz&oacute; a ministrar en el ministerio musical de dicha congregaci&oacute;n; terminado el colegio tuvo que trasladarse hacia Alajuela a estudiar en el Instituto Nacional de Aprendizaje donde conoci&oacute; a Erick Cantillo con qui&eacute;n desarroll&oacute; una buena amistad; así llegando a formar parte de la Banda Contra vía. 