section(id="aboutUs").generic_section.bg_dark_red.info_section.vertical_center.head_title_section.row
	.col-xs-12.col-sm-8.col-sm-offset-2
		h2.title Contrav&iacute;a
		p.text Somos una Banda de Rock Cristiana, sin fines de lucro dedicada a llevar el mensaje de un Dios de amor a todas las personas; claro, a trav&eacute;s de la m&uacute;sica.
		p.text Gracias a la ayuda de Dios, de nuestro esfuerzo, del apoyo de nuestras familias y del grano de arena de varios amigos hechos en el camino de nuestras vidas, hemos logrado y seguiremos logrando ganar muchas almas para Jes&uacute;s, nuestro maestro y gu&iacute;a.