section(id="contactUs").generic_section.bg_dark_red.info_section.vertical_center.row
	.col-xs-12.col-sm-8.col-sm-offset-2
		h2.title Cont&aacute;ctenos
section.generic_section.info_section.vertical_center.row
	.col-xs-12.col-sm-8.col-sm-offset-2
		a(class="icon-twitter icon" href="https://twitter.com/BandaContraVia")
		a(class="icon-facebook icon" href="https://www.facebook.com/bandaContraVia/")
		a(class="icon-youtube icon" href="https://www.youtube.com/channel/UCZcLY-g4kcVf4pmLzDehgBg")
		a(class="icon-instagram icon" href="https://www.instagram.com/bandacontravia/")
		a(class="icon" href="tel:+50688302573") 
			span.icon-phone (506) 88302573
