section(id="contactUs").generic_section.bg_dark_red.info_section.vertical_center.row
	.col-xs-12.col-sm-8.col-sm-offset-2
		h2.title Cont&aacute;ctenos
section.generic_section.info_section.vertical_center.row
	.col-xs-12.col-sm-8.col-sm-offset-2