.homepage-hero-module.full_width
	.logo
		img(src="../images/logo_white.png")
	.video-container
		.filter
		video(autoplay loop class="fillWidth" muted)
			source(src="../videos/hero/MP4/contravia.mp4" type="video/mp4")
		.poster.hidden
			img(src="../images/hero/Snapshots/Strum-Away.jpg" alt="Strum-Away")