.hero.full_width
	.logo
		img(src="../images/logo_white.png")
	video(src="../videos/hero/MP4/contravia.mp4" loop muted autoplay)
//			
	.video(data-vide-bg="mp4: ../videos/hero/MP4/contravia.mp4" data-vide-options="loop: true, muted: true, position: 0% 0%, posterType: none, resizing: true")