nav.row(class="navigation")
	.col-xs-2
		.isotipo
			img(src="../images/isotipo_white.png")
	.col-xs-10
		ul.main_nav
			li
				a(href="#") Nosotros
			li
				a(href="#") Cont&aacute;ctenos
			li
				a(href="#") M&uacute;sica
		
