nav.row(class="navigation")
	.col-xs-3.col-sm-2
		.isotipo
			a(href="/")
				img(src="../images/isotipo_white.png")
	.col-xs-9.col-sm-10
		ul.main_nav
			li
				a(href="#aboutUs" class="scrollTo") Nosotros
			li
				a(href="#ourMusic" class="scrollTo") M&uacute;sica
			li
				a(href="#contactUs" class="scrollTo") Cont&aacute;ctenos
		
