section(id="ourMusic").generic_section.bg_dark_red.info_section.vertical_center.head_title_section.row
	.col-xs-12.col-sm-8.col-sm-offset-2
		h2.title Nuestra M&uacute;sica
		p.text Basado en nuestras experiencias, testimonios y referencias musicales, nos naci&oacute; del coraz&oacute;n componer las siguientes canciones, por favor disfr&uacute;tenlas así como nosotros disfrutamos componi&eacute;ndolas.