section.text_section.generic_section.quote.vertical_center.fixed_min_height.row
	.col-xs-12.col-sm-8.col-sm-offset-2
		.verse
			span "Por tanto, id, y haced disc&iacute;pulos a todas las naciones, bautiz&aacute;ndolos en el nombre del Padre, y del Hijo, y del Esp&iacute;ritu Santo..." #[br] #[span.verse Mateo 28:19]