section.text_section.generic_section
	.bible_verse
		span "Por tanto, id, y haced disc&iacute;pulos a todas las naciones, bautiz&aacute;ndolos en el nombre del Padre, y del Hijo, y del Esp&iacute;ritu Santo..." #[span.verse Mateo 28:19]