extends partials/main_template
block content
	include partials/hero
	.row
		.col-xs-12
			include partials/text_section_biblic_verse
			include partials/about_us
			.row.content_wrapper
				.col-xs-12
					include partials/about_us_Erick
					include partials/about_us_Alejandro
					include partials/about_us_JoseAntonio
					include partials/about_us_Antonio
					include partials/about_us_Bryan

